aside
  padding-bottom: 10px




//aside #side-menu
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto
  //grid-gap: 10px
  @media (min-width: 769px)
    grid-template-columns: 1fr
  li
    text-align: center
    background: #333
    +b-rad(5px)
    a
      +menu-style
      color: $clr-primary
      font-family: Ubuntu
      &:hover
        color: #777
